[2015-12-06 14:33] tkqubo opened #1 "Create docker image"

[2015-12-08 16:55] mrb commented on #1
@tkqubo Hey there! I'd be happy to help out if you need assistance - shoot me an email mrb@codeclimate.com

[2015-12-09 02:02] tkqubo commented on #1
@mrb Thanks so much!  Although I cannot spare too much time to develop recently, I will constantly and gradually develop this repo :smile:

[2015-12-31 12:13] tkqubo opened #2 "Add comment for documentation"

[2016-03-07 04:42] johnapost commented on #1
I'm really looking forward to this engine!

[2016-03-10 13:12] tkqubo commented on #1
@mrb Hi, I think I have prepared all the stuffs required for Code Climate engine.  Is that OK?

[2016-03-10 14:30] mrb commented on #1
@tkqubo Yes! Shoot me an email so we can coordinate

[2016-03-11 18:11] daudt opened #4 "unable to add engine to codeclimate"
I'm using the latest docker image from code climate. Here's what I've tried to get tslint to work with cc:
npm i codeclimate-tslint --save-dev
codeclimate engines:enable tslint

Engine not found. Run 'codeclimate engines:list' for a list of valid engines.

Any ideas? Thanks.

[2016-03-11 19:56] mrb commented on #4
@daudt If you have the image locally, you should be able to run `codeclimate analyze --dev` in a project which has tslint listed in the .codeclimate.yml. We're working on getting the tslint engine released.

[2016-03-13 15:42] tkqubo commented on #4
@mrb thanks for answering question!
@daudt as such, could you wait for a moment? thanks.

[2016-03-22 23:55] darthtrevino opened #5 "tsd is Deprecated, Switch to Typings"

[2016-03-24 18:39] tkqubo commented on #5
@darthtrevino Thanks for your advice, I switched from tsd to typings.

One thing I couldn't resolve is:

https://github.com/tkqubo/codeclimate-tslint/blob/fc3f1d3ff717953867a2f191a5b4dae67e14f0b7/src/index.ts#L26-L28

I don't know how to get the type information of `rx.Observable.fromNodeCallback` correctly, so I simply gave up by casting `rx.Observable` to `any`...

[2016-03-24 19:01] darthtrevino commented on #5
That was quick! Thanks, @tkqubo

FWIW, I wouldn't sweat that line too much.

[2016-04-19 08:37] axe312ger commented on #4
Any progress here? 😸

[2016-04-19 17:16] tkqubo commented on #4
Sorry I'm still struggling to solve some issues.

Both `npm start` and `codeclimate analyze --dev` work on my MacBook, but when I setup CentOS 7 environment and try to run `npm start`, it fails with

[code]

Actually the command that's failing is

[code]

Even though I change the permissions of all the files and sub-directories to `777` but still fails.

And for `codeclimate analyze --dev` on Cent

[2016-06-12 10:19] mathebox commented on #4
We would really like to use this engine for our project!
Is there any progress or a workaround to get this running on codeclimate?

[2016-06-15 15:43] tkqubo commented on #4
Sorry recently I have no progress on this project at all...  But I will tackle this again soon!

[2016-06-15 15:57] mathebox commented on #4
If I can help in some way, please let me know.

[2016-06-20 09:07] KillaPL commented on #1
@tkqubo @tkqubo Any success with that? I'd love to use tslint with code climate.

[2016-06-30 07:55] tkqubo commented on #4
Sorry I still stuck with `codeclimate` execution.  Here is what I did:

- 1. Setup clean CentOS 7 environment in VirtualBox (CentOS 7.2 (1511))
- 2. Install required commands except codeclimate
[code]
- 3. log in again and install codeclimate
[code]
- 4. :x: execute `codeclimate analyze --dev`
[code]
- 5. :x: so then `codeclimate init`
[code]
- 6. :x: next, run docker as daemon
[code]
- here is th

[2016-08-07 06:49] abey-alex commented on #5
Any update on this?

[2016-08-15 21:45] amcdnl commented on #5
FYI - I did this already https://github.com/swimlane/codeclimate-tslint

[2016-08-15 22:12] brantw commented on #4
I was able to run `codeclimate analyze --dev` to run codeclimate-tslint both locally on macOS and on CentOS with the changes in pull request #6.  I believe this corrects this issue, please try it out and let me know if you are still not able to run via Docker.

[2016-08-17 17:42] #5 closed

[2016-08-28 04:40] kyleholzinger commented on #1
@tkqubo @mrb any progress on this? It'd be awesome to get a docker image up there so we could at least run this locally

[2016-08-28 04:42] kyleholzinger commented on #4
@tkqubo I think that issue has to do with docker/CentOS-- as with @brantw I'm able to run `codeclimate analyze --dev` locally (at least on MacOS)

[2016-09-02 01:23] tkqubo commented on #1
At least it worked on my Mac with some minor configuration (but sorry I couldn't setup CentOS environment).  Could you try the latest commit and see if it works? @mrb

[2016-09-02 14:35] mrb commented on #4
Hey Everyone - https://github.com/swimlane/codeclimate-tslint is working but needs some testing! If anyone has time to run through some of the QA spreadsheet, let me know.

[2016-09-02 14:35] kyleholzinger commented on #4
💯! I'm down

[2016-09-02 15:31] mrb commented on #4
@kyleholzinger The spreadsheet is here - https://docs.google.com/spreadsheets/d/1hGUh9EGTcRxND_uTJ684vgZV-9O-oRi75RgoEAEp1bE/edit#gid=0 - basically we need to run this through a few OSS repos to make sure it works. There is one additional bit of work to do, to add `remediation_points` to the engine output, but that can wait a bit.

[2016-09-02 18:14] kyleholzinger commented on #4
Sounds great man! I'll check it out when I have a chance

[2016-10-19 21:53] ackerdev opened #7 "release ~0.5 on npm"
Hey, thanks for creating this.

The current version on npm is 0.2.9, but I can see that on github you've gotten to 0.5.2. Can you push versions to npm?

[2016-10-25 20:49] #7 closed

[2017-01-31 16:55] kyleholzinger commented on #4
@mrb sorry just getting back to this. I'm trying to install it locally again and having some issues. Could you post a step by step guide on how to install it? I've tried installing it via `npm`, `npm -g`, and cloning it but when I run `codeclimate analyze --dev` it says `Unable to find image 'codeclimate/codeclimate-tslint:latest' locally`

[2017-01-31 17:14] kyleholzinger commented on #4
Update: for anyone looking to install it and test it locally here are the steps to install:
1. Install docker. I got it from [here](https://www.docker.com/products/docker)
2. Clone the repo and build the docker image locally
[code]
3. Go to your repo that has ts files in it and add the following to your `.codeclimate.yml` (or whatever the equivalent is)
[code]
4. Run `codeclimate analyze --dev`
5.

[2017-03-23 14:42] tiagoefmoraes opened #11 "Support for Type Checking"
Some tslint rules require type checking. I didn't find how to configure codeclimate-tslint to enabled it.

Some information from tslint docs:

[code]
see: https://github.com/palantir/tslint#type-checking

[2017-03-23 14:45] tiagoefmoraes commented on #4
codeclimate-tslint can now be used on codeclimate.com with this config on codeclimate.yml:

[code]

see: https://github.com/codeclimate/codeclimate-duplication/issues/127#issuecomment-286554197

[2017-04-03 18:31] #2 closed

[2017-04-03 18:35] tkqubo commented on #1
I believe we are already able to create a runnable docker image, so I'll close this issue 😃

[2017-04-03 18:35] #1 closed

[2017-04-03 18:35] kyleholzinger commented on #1
🎉

[2017-04-03 18:37] kyleholzinger commented on #1
For anyone trying this themselves, run the following within this repo:
[code]

And then you can use `codeclimate analyze --dev` in whatever ts repo you want

[2017-04-09 04:22] tkqubo opened #16 "Tidy up `content.body`"
Currently lint result's markdown text is corrupted like the one below:

### output

[code]

### markdown will be rendered as

![screen shot 0029-04-09 at 13 19 38](https://cloud.githubusercontent.com/assets/1194760/24834653/3ed99048-1d27-11e7-9896-0559fcd2576a.png)

This should be fixed

[2017-04-09 08:18] #16 closed

[2017-04-09 11:48] tkqubo opened #18 "Some TypeScript repo cannot lint"
Some repositories like https://github.com/typings/api uses `tslint-config-standard`, whose rules codeclimate-tslint doesn't have, therefore `codeclimate analyze` fails

[2017-04-10 09:38] marcojahn opened #19 "Engine encountered error"
Hi there,

using your engine encounters an error on code climate.

My codeclimate.yml file
https://github.com/MehlboxKonsole/mk2-ng-app/blob/master/.codeclimate.yml

The codeclimate build
https://codeclimate.com/github/MehlboxKonsole/mk2-ng-app/builds/25
Error message

    /usr/src/app/node_modules/rx/dist/rx.js:77
        throw e;
        ^

    Error
        at new FatalError (/usr/src/app/node_

[2017-04-10 10:50] tkqubo commented on #19
Sorry for inconvenience.  But thanks for reporting, I will investigate on this 👀

[2017-04-10 13:12] #18 closed

[2017-04-10 14:19] tkqubo commented on #19
Did you try `tslint src/*`?  It also fails with error, emitting the same error message above.

And after removing `directive-selector` and `component-selector` rule, it worked.  And `codeclimate analyze` the same.

https://asciinema.org/a/44rxcf0n3w4g81x4p22m0s8pd

I haven't checked inside those rules, but is it possible that wrong arguments are passed to them?

[2017-04-10 15:20] marcojahn commented on #19
Did as you mentioned but nothing changes. Please find both lint actions below (ng lint && tslint)

A PR with removing these two lines will break too:
- PR to show two lines removed (https://github.com/MehlboxKonsole/mk2-ng-app/pull/9)
- according codeclimate build (https://codeclimate.com/github/MehlboxKonsole/mk2-ng-app/builds/31)

Using yarn or plain NPM results in the same behaviour (working on

[2017-04-10 15:49] tkqubo commented on #19
I am using tslint `5.0.0`.  This works but `4.5.1` doesn't.

https://asciinema.org/a/ecjtrxybvbbiev2c468omezg8

[2017-04-10 16:02] marcojahn commented on #19
4.5.1 is working on my machine and travis-ci... any chances to see what is happening on code climate ?

	 ./node_modules/.bin/tslint --version && ./node_modules/.bin/tslint src/**/*.ts
	4.5.1

	src/app/auth-guard.service.ts[19, 9]: Identifier 'url' is never reassigned; use 'const' instead of 'let'.
	src/app/auth.service.ts[10, 12]: Type boolean trivially inferred from a boolean literal, remove typ

[2017-04-10 16:07] marcojahn commented on #19
ok, just removed nearly anything from tslint.json file and the processing now works... :(

https://codeclimate.com/github/MehlboxKonsole/mk2-ng-app/builds/33

tslint
https://github.com/MehlboxKonsole/mk2-ng-app/pull/9/commits/70d89aa6bf97c9627801a262b329056a47e37ca5

Will add rules one by one again to see what exactly is breaking the codeclimate process...

Will head back when I was successfull...

[2017-04-10 16:15] marcojahn commented on #19
Ok, seems I got it...

Using a "plugin" like codealyzer seems to break the process. Any ideas on how I can use additional tslint plugins ?

Removing these things will make the process run as expected...

	{
	  "rulesDirectory": [
	    "node_modules/codelyzer"
	  ],
	  "rules": {

	    "directive-selector": [true, "attribute", "mk2", "camelCase"],
	    "component-selector": [true, "element", "mk2",

[2017-04-11 04:25] tkqubo commented on #19
And how about adding `node_modules` in `exclude_paths`?   You don't need lint against modules outside your project.

[code]

[2017-04-11 04:27] tkqubo commented on #19
Anyway at least in my environment, `codeclimate analyze` worked after doing them:

- remove `directive-selector` and `component-selector`
- add `node_modules` to `exclude_paths` (otherwise codeclimate would definitely timeout..)

[2017-04-11 05:47] marcojahn commented on #19
Hi,

adding node_modules would not change anything. What is unhandled by codeclimate is the tslint dependency to the tslint plugin "codelyzer". https://github.com/mgechev/codelyzer

This module is not in the tslint standard and is the cause why codeclimate (the cloud service) fails.

Here is a discussion on eslint causing the exact error 2 years ago where codeclimate was not able to use engine plu

[2017-04-11 06:40] marcojahn commented on #19
Ok,

thought about it...

Codelyzer is currently not supporting tslint 5. The upcoming 3.0.0 branch will add support for tslint 5.

Would it be possible to have codelyzer added to your project like you did with tslint-config-standard ?

Then it would be possible for Angular 2(/4) projects to use the plugin with codeclimate as well.

Kind regards.

[2017-04-11 07:03] tkqubo commented on #19
Sure, if it helps you and other Angular developers, I'll be glad to do that.

[2017-04-11 07:59] marcojahn commented on #19
Thank you. I will have a look at the required dependencies and will create a new feature request or pull request once available and working.

[2017-04-11 07:59] #19 closed

[2017-04-11 08:10] tkqubo commented on #19
👍

[2017-04-12 04:46] tkqubo opened #23 "codelyzer support"
Support rules in https://github.com/mgechev/codelyzer

[2017-04-23 15:58] Lapanti commented on #4
I'm having problem running codeclimate-tslint on codeclimate.com, I get the following error:
<img width="1038" alt="screen shot 2017-04-23 at 18 56 54" src="https://cloud.githubusercontent.com/assets/2526798/25315011/ae480d44-2856-11e7-9d09-296acc59fd7c.png">
But when I run `tslint 'src/**/*.{ts,tsx}'` in my repo it says that everything is okay.

My .codeclimate.yml:
[code]
See https://github.com/

[2017-04-24 01:50] murt commented on #4
I'm getting the same error but only on codeclimate - directly calling `codeclimate` or `tslint` locally provides correct results. The issue on codeclimate.com seems to be related to finding the configuration file.

[2017-04-30 15:18] KimBurgess opened #24 "Installation via the Code Climate CLI fails"
When attempting to install the engine locally, installation fails during the docker image pull.

[code]

Currently, Docker Hub does not have a image that's been tagged as `latest` and it appears the CLI is attempting to pull this, despite the "beta" channel setting in the `.codeclimate.yml`.

I'm new to the Code Climate ecosystem so unsure if this is an issue on their CLI side, or how this engine

[2017-05-01 02:38] kyleholzinger commented on #4
Good call, thanks for the info @murt! I'll look into adding some default external configs. Seems relatively easy enough! For now I'll try adding the airbnb and react ones, looks like that's what you're using @Lapanti

[2017-05-01 15:08] maxjacobson commented on #24
Hi @KimBurgess. Sorry about that, and good catch. This will be fixed in the next version of the CLI https://github.com/codeclimate/codeclimate/issues/647

[2017-05-01 19:01] maxjacobson commented on #24
This is released

[2017-05-03 03:06] #24 closed

[2017-05-08 08:44] KimBurgess opened #26 "Running on codeclimate.com fails with a FatalError"
While the engine works locally (invoked by `codeclimate analyze`), it fails with a FatalError on codeclimate.com.

This appears to be to do with the search for the tslint config, but haven't looked too deeply.

Output from the codeclimate.com process:
[code]

Source where this can be replicated can be found at https://github.com/acaprojects/a2-portal/.

Quick links to config files of interest at t

[2017-05-15 20:15] kyleholzinger commented on #26
Thanks for the issue @KimBurgess ! I think this has to do with [your use of codelyzer](https://github.com/aca-labs/skype-client/blob/b3abd2eb6c47263dc90723777bde61071e51aa1b/tslint.json#L3), looks like @tkqubo made an issue a while ago to track this: #23

[2017-06-07 06:31] Lapanti commented on #4
What's the status on this? Do you need some help?

[2017-06-07 14:35] kyleholzinger commented on #4
Hey @Lapnati! Sorry been crazy busy at work lately (doing this on the side), we're testing out 10 repos that use TSLint and we're 60% of the way there. Here's the GitHub project I made to track our progress, feel free to help out! https://github.com/kyleholzinger/codeclimate-tslint/projects/1

[2017-07-03 08:54] phgroe commented on #11
With current versions of TSlint, type checking can only be enabled via command line parameter and not through its config file itself. Additionally, as soon as you enable type checking, it wants another parameter called `--project` that will point to the `tsconfig.json` file. The latter shouldn't be necessary at all, if the _default_ project file in the _default_ location is present.

I don't under

[2017-08-03 05:35] bodhi opened #30 "Preset support"
We use [`tslint-config-prettier`](https://github.com/alexjoverm/tslint-config-prettier) in our TSLint config, is there any way to configure additional presets in this engine?

[2017-08-14 22:48] noahd1 opened #31 "Errors when violation of no-invalid-template-strings rule"
The `codeclimate-tslint` engine analysis errors when:

* It is configured to check for violations of the `no-invalid-template-strings` rule
* The code has a violation of the check

The engine actually outputs the error in JSON format, in the format of a static analysis issue, which itself is probably not right.

The salient error it reports is "Error: rule named no-invalid-template-strings is not

[2017-08-18 15:38] noahd1 commented on #31
Proposed fix in #32

[2017-08-28 16:42] dblandin commented on #30
Hey @bodhi,

Engines may include vendored plugins and/or shared configurations for use during analysis. I might reference the [instructions](https://github.com/codeclimate/codeclimate-eslint/blob/master/CONTRIBUTING.md#adding-and-upgrading-plugins) we have in the codeclimate-eslint engine, and open a PR here adding support for `tslint-config-prettier`.

[2017-09-25 12:59] pciavald commented on #26
I seems I'm getting the same issue but it's not related to coldelyzer. I have received this answer from CodeClimate support :

[2017-09-26 14:28] abalad commented on #26
How was that resolved? Because I'm having the same problem.

[2017-09-26 14:49] kyleholzinger commented on #26
@abalad @pciavald only the following rule sets are supported by codeclimate-tslint:
[code]

This is because on codeclimate, they do not re-install your node modules. If you are using another set of rules, it will fail because we only install a select number of tslint presets

[2017-10-02 10:57] #31 closed

[2017-10-11 10:23] alvis commented on #26
@kyleholzinger Got it. Thanks for the explanation.

Now the problem is that probably we need more pre-selected packages. In fact, I am here because I have an issue with `tslint-config-prettier`.

The problem is that, in order to make `prettier` work well with `tslint`, `tslint-config-prettier` is needed to avoid contradicting rules. However, as the package is not pre-installed on code climate, bui

[2017-10-12 08:20] naerion89 opened #33 "add support for tslint-ionic-rules"
Hi,

I have the same issue  as #26
I wouldlike to use the ionic tslint rules (https://github.com/ionic-team/tslint-ionic-rules)
Can you give me a solution for using ionic rules or add support for it ?

Regards,
Gaetan BOGAERT

[2017-10-20 19:39] abbyarmada opened #37 "Fatal error"
A user of Code Climate is experiencing the following error on builds:

[code]

When running Code Climate on the CLI with tslint, they see this error:
[code]
Any thoughts? cc @kyleholzinger @dblandin

[2017-10-20 19:40] kyleholzinger commented on #37
Hm very strange, I haven't seen that one @abbyarmada . What does your tslint config look like?

[2017-10-20 19:44] abbyarmada commented on #37
This is a user of Code Climate (I'm the Support Lead) -- let me see if they can chime in/email back.

[2017-10-20 20:18] vasagrujic commented on #37
Sure 👉 [Gist](https://gist.github.com/vasagrujic/a2c41b32a0786cd22b77d8c6acc78471)

[2017-10-20 20:18] kyleholzinger commented on #37
Sorry, the tslint.json @vasagrujic

[2017-10-20 20:24] vasagrujic commented on #37
[tslint.json](https://gist.github.com/vasagrujic/6f19b253f334dc7dd1cc7f50233cd503)

[2017-10-20 20:51] vasagrujic commented on #37
I think this is duplicate of #26

[2017-11-13 12:33] naerion89 commented on #33
up ?

[2017-12-04 16:25] andrewfader commented on #26
I've got this problem as well. I'm not sure what the package is that's breaking. Any idea how to debug it?

[2018-01-08 14:28] ridgekimani opened #38 "Update tslint-react package"
I have added react related rules and I got an error from the tslint package
<img width="818" alt="screen shot 2018-01-08 at 5 13 14 pm" src="https://user-images.githubusercontent.com/15478648/34674990-1a56bc92-f499-11e7-8b8b-30e6a9b350c5.png">
Please updated the [tslint-react](https://www.npmjs.com/package/tslint-react) package to the latest build.

[2018-01-15 14:49] tkqubo commented on #38
Hi, I've just updated all the NPM modules.  Could you try it again with the newest one?  @ridgekimani

[2018-01-15 16:04] ridgekimani commented on #38
Am still getting the same issue when I use 'tslint-react' in the extends identifier @tkqubo

[2018-01-16 06:31] tkqubo commented on #38
I see.  So the version is not a cause...  Is there any public repo with the same issue?

[2018-01-18 07:53] ridgekimani commented on #38
Not really.. But when I remove the the 'tslint-react` it works like a charm

[2018-01-31 14:12] tkqubo opened #44 "Test for ConfigFileNormalizer"
`configFileNormalizer.ts.spec` is missing

[2018-02-01 08:08] naerion89 commented on #33
up ??

[2018-02-02 04:01] tkqubo commented on #33
Sorry not yet...!

[2018-02-02 11:45] tkqubo commented on #38
Hi, I have made changes to codeclimate-tslint again.  Could you try it with tslint-react? @ridgekimani

[2018-02-05 13:29] naerion89 commented on #33
tks for you answer !

[2018-02-05 13:29] #33 closed

[2018-02-28 14:40] victornoel opened #46 "TSLint does not seem executed in the correct directory"
I have the following directory structure:
- frontend/
  - tslint.json
 - src/
- backend
  - ...

I configured the plugin with `config: frontend/tslint.json` and because my configuration contains:
[code]

I get the following error when executing the analysis:
[code]

[2018-03-15 21:43] larkinscott commented on #46
Hey @tkqubo! Stumbled across this issue because I was also investigating it. I was able to replicate a similar issue on a few open source projects:

https://github.com/ReactiveX/rxjs
https://github.com/angular/material2

[code]

[2018-03-20 19:42] larkinscott opened #47 "FatalError: Failed to load (Could not find custom rule directory)"
Hey @tkqubo! I tacked on some comments to issue https://github.com/tkqubo/codeclimate-tslint/issues/46, but I think this may actually be something different happening, so thought it might be test to open a new issue:

https://github.com/angular/material2/blob/master/tslint.json
https://github.com/ReactiveX/rxjs/blob/master/tslint.json

When running the Code Climate TSLint engine against these repo

[2018-03-20 20:53] borisonr commented on #47
I get this error as well in a private repo, where we use the rulesDirectory property in the tslint config and it prevents us from enabling tslint in code climate. If remove the property from the config, tslint works fine in code climate.

[2018-04-09 22:16] jakeleboeuf commented on #46
Me too! Need any help fixing this?

[2018-04-23 08:49] DanTup commented on #47
Same issue here. Support told me it might be for security reasons that they won't run custom code, however it would be preferable to just not run my custom rules than to bring the whole build down. The custom rule is really there for the IDE and CI builds to fail - if it has passed them, having it skipped on CodeClimate would be fine by me.

[2018-05-08 08:54] cice commented on #46
having the same problem here...

[2018-05-24 12:52] cice commented on #46
any updates on this? any workarounds? at the moment we are not able to use tslint in codeclimate at all...

[2018-06-06 12:45] abenhamdine opened #48 "fails to use tslint rules from sonarTS"
When I try to use CodeClimate on ts files with SonarTS tslint plugin, I encounter the following error :

[code]

According to your support :

Could you guys do something to solve that ?
Sonar linters are very powerful profesionnal analysis tools, it would be convenient to be able to run it with CodeClimate.

FWIW, I also opened an issue in SonarTS repo : https://github.com/SonarSource/SonarTS/issu

[2018-07-30 12:51] #38 closed

[2018-08-09 05:29] PhilippMeissner commented on #46
Bump. Would be nice to get some sort of feedback on this one.

[2018-09-11 07:18] davidchin opened #51 "Can't extend custom TSLint config"
I have a shared TSLint config that I use in multiple projects. i.e.:

[code]

However, this doesn't work because `@bigcommerce/tslint-config` is not available in the environment. Do you have any idea on how to extend custom TSLint config?

[2018-09-14 15:26] wingrunr21 commented on #51
We use the [prepare step](https://docs.codeclimate.com/docs/configuring-the-prepare-step) to download the config from GitHub and overwrite the one in the repo. If you have local overrides in your config you'll have to use multiple config files and have one require the other.

[2018-09-21 20:49] arboleya commented on #51
@davidchin Were you able to get it working somehow?

@wingrunr21 Could you pls give some code sample of how you're getting around this problem?

[2018-09-21 20:51] arboleya commented on #46
There seems to be a bunch of issues connected to this problem, such as:
https://github.com/tkqubo/codeclimate-tslint/issues/51

[2018-09-21 20:55] arboleya commented on #30
@dblandin I was wondering if it can be done now (then we just need some instructions I guess), or if some update needs to be done on the codeclimate-side-of-things first. Ttks

[2018-09-21 21:18] wingrunr21 commented on #51
Well, it's basically what I said above. We do this for our [shared TSLint config](https://github.com/GuildEducationInc/tslint-config-guild)

[code]

[2018-09-22 11:49] arboleya commented on #51
@wingrunr21 I believe this is to share the same config among multiple projects, right?

However, I'm still failing to see how this could solve the problem of the dependencies not being available in the environment -- as noted in the original question.

[2018-09-22 12:09] wingrunr21 commented on #51
That’s not the original question. The very last sentence asks how to extend a shared config.

[2018-09-22 12:33] arboleya commented on #51
I believe the root problem of this issue isn't related to what you're saying, unfortunately.

Here's the thing, when you try to extend some custom `tslint` config that comes from another `npm` package, it won't be available in the [codeclimate] environment where the analysis runs.

With that said, and back to your config again, it seems you made use of 2x `tslint` configs that comes from `npm` pac

[2018-09-22 12:41] wingrunr21 commented on #51
Take it or leave it. We use this across many projects for both TSLint and ESLint configs and it properly brings our shared configs into our repos for CodeClimate analysis. I know it works. The only aspect that doesn't work is when our shared configs depend on upstream configs that aren't in the engine (eg `tslint-no-circular-imports`. The ESLint engine just fails to load those rule sets and fails

[2018-09-22 12:53] arboleya commented on #51
The only aspect that doesn't work looks to me like the only problem.

But I got your points and how you override your config file.

Thank you for the insights.

[2018-10-08 18:18] rafaelrinaldi commented on #48
I am running into the same issue.

[2018-11-13 21:09] eelco opened #55 "Request: add `tslint-microsoft-contrib`"
We use a bunch of the linting rules from that [package](https://www.npmjs.com/package/tslint-microsoft-contrib), it’s quite popular (almost ~200K downloads in the previous week, according to npmjs.com).

[2018-11-13 23:00] sdrioux opened #56 "Publish?"
`tslint-no-circular-imports` was recently added to the package, however, I am still getting errors on Codeclimate when I try to use it.  It looks like 0.6.0 was the last version that was actually published to NPM.  Does that mean that Codeclimate is still using that version?

[2018-11-16 16:47] sdrioux commented on #56
@tkqubo bump

[2018-11-19 06:42] tkqubo commented on #56
Sorry I have long forgotten doing npm publish.  Now it's updated to 0.10.3.  After you confirm it, I will close this issue.  Thank you! @sdrioux

[2018-11-19 18:46] BBosman commented on #55
I got pointed to this issue by Code Climate Support as we’re using that ruleset as well, so I’d like to +1 this request.

[2018-11-19 21:20] sdrioux commented on #56
Thanks @tkqubo .  I'm still getting the error below.  I'm confused what the issue is at this point, because it seems like the current package version should support "tslint-no-circular-imports".  I'm going to open a ticket with Codeclimate, but if you have any ideas, I'd welcome them.

[code]

[2018-11-29 06:50] koladilip commented on #48
Same issue for me as well.

[2018-12-15 17:33] k3nsei commented on #48
Same here

[2019-01-08 17:37] ssube opened #57 "errors on numeric separator"
The version of tslint being run in this engine [seems to have trouble parsing Typescript's numeric separators](https://codeclimate.com/github/ssube/isolex/test/utils/TestPicklist.ts/source#issue-cbcfe2741de39d26b8566e96c526ff93):

![underscore separator splits numeric literal](https://user-images.githubusercontent.com/451959/50848237-557f9900-1339-11e9-8301-e1338adf2d30.png)

This looks to be a ve

[2019-01-08 17:37] ssube commented on #55
Support just pointed me to this repo as well, the microsoft-contrib rules (along with sonarts and others) would be a great help for my projects.

[2019-01-14 22:46] vicrep opened #58 "Update tslint plugins"
Hi,

Noticed that quite a few plugins were significantly out of date, which is making the engine behave differently than expected.

Notably:
- tslint-config-prettier:  1.6.0 -> 1.17.0
- tslint-plugin-prettier: 1.3.0 -> 2.0.1
- tslint-react: 3.4.0 -> 3.6.0

Would it be possible to update them please?

Also, have you considered using an automatic dep manager for those kind of repetitive tasks? (e.g.

[2019-03-08 23:22] piotrb commented on #58
Also I'd like to see the tslint engine itself be updated, its quite a bit behind now and breaks on modern typescript syntax.

[2019-04-01 12:33] tkqubo commented on #58
For today's commits, I believe these modules are properly updated.  Sorry for the delay, and I will close this issue as fixed.

[2019-04-01 12:33] #58 closed

[2019-04-01 12:45] tkqubo commented on #55
I simply added tslint-microsoft-contrib in package.json.  If there is any problem, please open a new issue.  Thanks @eelco

[2019-04-01 12:45] #55 closed

[2019-04-01 13:31] tkqubo commented on #57
I have updated TypeScript from `2.6.2` to `3.3.3333` (not the latest `3.4.0` since Angular currently doesn't support it).  Please check if errors are removed @ssube.  Sorry for my late response.

[2019-04-05 15:21] tkqubo commented on #44
Now `tsConfigNormalizer.spec.ts` is added

[2019-04-05 15:21] #44 closed

[2019-04-05 16:20] tkqubo commented on #23
Already supported

[2019-04-05 16:20] #23 closed

[2019-04-05 22:09] tkqubo opened #60 "Configuration Formats for version 2"
See https://docs.codeclimate.com/docs/advanced-configuration

[2019-04-17 19:23] jonahwh opened #61 "Support tslint-react-hooks plugin"
We have support for `tslint-react`, but it would be super cool to also support [`tslint-react-hooks`](https://github.com/Gelio/tslint-react-hooks) :)

[2019-04-18 16:59] #61 closed

[2019-05-03 16:15] elliterate opened #62 "Cannot find tslint-react rule descriptions"
When trying to use tslint-react, I'm seeing the following error when describing a rule:

[code]

It looks like it's detecting a violation, but failing when attempting to report on it.

I see this message both locally with the latest Docker images as well as remotely on codeclimate.com.

This is after adding `"tslint-react"` to the `tslint.json` `"extends"` array.

[2019-05-17 19:51] sombreroEnPuntas commented on #61
Was this issue solved?

I'm getting an error when running the gitlab docker image for `codeclimate` when I enable this plugin:
[code]

[2019-05-17 19:56] jonahwh commented on #61
Sorry, should have indicated why I closed this.

We switched to eslint, which has typescript support, and is [the way of the future](https://medium.com/palantir/tslint-in-2019-1a144c2317a9).

See also https://github.com/codeclimate/codeclimate-eslint/pull/447#issuecomment-490654267

[2019-05-17 20:07] sombreroEnPuntas commented on #61
Oh, so then it means that if I extend my tslint with `"tslint-react-hooks"` I can no longer use this plugin?

[2019-05-17 20:08] jonahwh commented on #61
Yeah. The docker image doesn't know about that dependency. Feel free to open a new issue and reference this one if you need to keep using tslint and want the react hooks plugin added to the codeclimate image. I'm gonna leave this closed just cause our solution was to switch to eslint. :)

[2019-05-17 20:26] sombreroEnPuntas commented on #61
I would consider it a breaking change, to drop tslint plugins support when they are not **yet** legacy.
But ok, got the message. Use eslint instead.

Cheers!

[2019-05-20 05:36] tkqubo commented on #57
I believe the issue has been fixed.  I will close this.

[2019-05-20 05:36] #57 closed

[2019-05-20 06:18] tkqubo commented on #62
Since Docker image for codeclimate-tslint has been updated recently (codeclimate/codeclimate-tslint), I think this error has been fixed as well.

https://codeclimate.com/github/tkqubo/codeclimate-tslint-sample/issues?status%5B%5D=&status%5B%5D=open

<img width="864" alt="ss" src="https://user-images.githubusercontent.com/1194760/58000003-62e03780-7b12-11e9-881c-5f5808b0285a.png">

Could you check

[2019-05-20 18:49] elliterate commented on #62
Yep! Thanks!

[2019-05-20 18:49] #62 closed

[2019-05-26 17:03] jdalrymple commented on #60
This would be amazing if it supported yaml configuration files. Wouldnt be that large of a change either for the support for tslint.yml, just when we check if its a js file, also check if its a yaml file!

[2019-05-28 18:35] openscript opened #65 "How to use tslint and Angular 7 on CodeClimate?"
I'm trying to configure this plugin for an Angular 7 project.

First it couldn't find codealyzer until I've created a separate tslint configuration for codeclimate. Now I got so many issues that codeclimate doesn't show me what is wrong:

![image](https://user-images.githubusercontent.com/1105080/58502994-002d1280-8188-11e9-98be-3a048d7787ce.png)

Are there somewhere guides how to set up codeclima

[2019-05-28 18:51] openscript commented on #65
Nevermind.. it was the editorconfig plugin :(

[2019-05-28 18:51] #65 closed

[2019-05-31 00:27] mltsy commented on #46
Does anybody have any idea why this is happening?  I'm having the same problem trying to use `"rulesDirectory": ["codelyzer"]`:
[code]

Is this an issue with this plugin, or an issue in CodeClimate's plugin system?

[2019-06-06 15:56] mltsy commented on #26
I'm still a bit confused about how this works (or rather doesn't work) - I see this PR was merged a few months ago, adding "codelyzer rules": https://github.com/tkqubo/codeclimate-tslint/pull/41

Should I be able to use these codelyzer on CodeClimate now if I specify them it the right way?  My current config includes `"rulesDirectory": ["codelyzer"]` and is failing.

Forgive me if I'm missing obvi

[2019-06-06 17:50] kyleholzinger commented on #26
@mltsy I'm no longer involved with this project anymore, but the `package.json` is where those dependencies are declared. In terms of troubleshooting though, I'm not sure if the new version of this has been deployed in codeclimate. Basically the reason for this is that codeclimate doesn't install any packages from your repo when it lints your code, so any linter plugins or anything have to be avai

[2019-06-06 19:02] mltsy commented on #26
Thanks for the assistance even though you're not on the project anymore!  So from what I understand, because [codelyzer is now included as a dependency in package.json](https://github.com/tkqubo/codeclimate-tslint/blob/master/package.json#L70), we should be able to use the `rulesDirectory` from `codelyzer` in our own `tslint.json` files on CodeClimate, assuming CodeClimate is using the latest vers

[2019-06-10 16:54] kyleholzinger commented on #26
That sounds about right @mltsy! I'm not sure how `codelyzer` works specifically, but I'd assume it's the same as any other plugin for tslint

[2019-06-11 17:10] vicrep opened #66 "Update tslint/prettier"
Hi again,

Could we please schedule an update for the following deps? Prettier is notably important, as latest version introduced some formatting changes.

Notably:
- tslint:  5.17.0
- prettier: 1.18.2

Would it be possible to update them please?

As I mentioned in a previous related issue (#58 ), it'd really be worth it to set up automated dep updates for the engine, so these tasks don't need hum

[2019-06-18 07:23] tkqubo-dotdata commented on #66
Thanks for your suggestion.  So does this tool automatically update dependencies without causing inconsistency between them?  Then I want to adopt it wholeheartedly.

Anyway, I updated the dependency manually this time.  The Docker image will be updated soon.  Thank you.

@vicrep

[2019-06-18 17:36] vicrep commented on #66
@tkqubo-dotdata great, thanks!

Yep, it basically opens PRs on your repo, with a changelogs etc for each new version -- then, based on configuration, you can have it be automatically merged into the default branch (e.g. you can require an approval, status checks, etc).

It also handles cleanup of merged branches, as well as keeping all its open PRs updated, to prevent package/lockfile conflicts.

[2019-06-23 20:11] efueger opened #67 "Could not find custom rule directory (codelyzer)"
Hi @tkqubo! Thanks for the request to bump the plugin -- we updated that on June 19.

I'm working with a user who's running into the "Could not find custom rule directory" when using Codelyzer. There have been a couple of other issues related to this:
- https://github.com/tkqubo/codeclimate-tslint/issues/47
- https://github.com/tkqubo/codeclimate-tslint/issues/26

Troubleshooting with [an oss repo

[2019-06-26 14:59] efueger commented on #67
@tkqubo 👋 Checking to see if you have any ideas on this. Thanks!

[2019-07-03 14:51] efueger commented on #67
@tkqubo - any info I can help with from this side?

[2019-07-17 17:43] efueger commented on #67
Hi @tkqubo -

If you're interested, we can transfer this repository to our codeclimate-community organization, with you as a maintainer, so we can share the maintenance load. Just let us know.

- You can transfer following these steps: https://help.github.com/en/articles/transferring-a-repository

Thanks,
Emily

PS: If you hit any permission errors, you might need to give me admin permissions for

[2019-07-17 17:43] efueger commented on #67
Hi @tkqubo -

If you're interested, we can transfer this repository to our codeclimate-community organization, with you as a maintainer, so we can share the maintenance load. Just let us know.

- You can transfer following these steps: https://help.github.com/en/articles/transferring-a-repository

Thanks,
Emily

PS: If you hit any permission errors, you might need to give me admin permissions for

[2019-08-09 22:41] mltsy commented on #26
Wow!  All I had to do was change `"rulesDirectory": ["codelyzer"]` to `"rulesDirectory": ["node_modules/codelyzer"]` (as shown in the `tslint.json` file linked frmo the original post.  I know CodeClimate has updated their tslint version since this issue was created, so now I'm curious if this issue is also resolved for the original repository @KimBurgess? (If you're still on the project, and using

[2019-08-09 22:56] mltsy commented on #67
Aha!  So, it turns out all I had to do to fix this was change `"rulesDirectory": ["codelyzer"]` to `"rulesDirectory": ["node_modules/codelyzer"]`!  I don't know if the version update of this plugin helped as well, perhaps (this other issue had that exact syntax and was *not* working at the time: https://github.com/tkqubo/codeclimate-tslint/issues/26).  But in any case, that worked for me 😄

[2019-08-11 11:48] KimBurgess commented on #26
That project is no longer under active development, but from a quick look at https://github.com/tkqubo/codeclimate-tslint/pull/41 and [this comment](https://github.com/tkqubo/codeclimate-tslint/issues/26#issuecomment-331872878) it seems there should be a high chance this is fixed.

I'll close this off so there's not a zombie issue here.

[2019-08-11 11:48] #26 closed

[2019-11-15 08:33] dfuentes77 opened #69 "can't find local relative path extends file while running codeclimate cli"
I'm running this locally on macOS:
`codeclimate analyze -e tslint`
I get this error:
[code]

with a `tslint.json` in `base dir` that looks like:
[code]

and the `tslint-base.js` located in `<base dir>/config/` of repo

[2019-11-18 21:48] dfuentes77 commented on #69
or are relative paths not supported when using the codeclimate tslint engine ?

[2020-01-15 15:42] efueger opened #72 "add rx-ninja"
Customer would like to use the https://github.com/w11k/rx-ninja TSLint rules.

- these are not currently included in the plugin's dependencies
- he's tried adding the rules to a folder in his repo, but we're seeing errors like:

[code]

Customer tried including the rules in his repo, but it looks like we'll need to add this to the plugin itself.

@tkqubo - does that sound like the right direction?

[2020-03-01 21:49] Sampath-Lokuge commented on #67
This works for me:

[code]

[2020-03-05 15:25] szechyjs opened #73 "Support latest typescript"
We get the following errors now when using optional chaining, introduced in 3.7.

`missing whitespace`

From what I can tell the current build is using typescript `3.5.2`.

[2020-05-15 06:49] PhilippMeissner commented on #73
From what I understand this is caused by `tslint` which is set to `5.17.0` as [documented here](https://docs.codeclimate.com/docs/tslint).

Would be nice if we could configure the environment on a per-repo base or via the `.codeship.yml`.

[2020-11-09 17:00] batista opened #78 "Is this project maintained?"
@tkqubo based on the lack of updates in open Issues and PRs, and on [this comment](https://github.com/tkqubo/codeclimate-tslint/issues/67#issuecomment-512478390) by @efueger (transcribed below).

I think it is important to get a clear answer on the question **whether this is project being maintained or not**, and if not, could we transfer it to the `codeclimate-community` organization so that we c

[2020-11-14 14:15] tkqubo-dotdata commented on #78
Hello @batista,

As a matter of fact, I'm currently not using TypeScript for my work and don't have enough time to continue this project.  If it's possible could you move it to the community?  Sorry for my late response.

CC: @efueger

[2021-11-17 15:43] andreisas06 commented on #67
This worked for me as well! Cheers 🍻

[2022-04-14 15:32] #11 closed